# Ignore all node_modules in project
**/node_modules/

# Ignore all environment files
**/.env

# Ignore env variations
**/.env.local
**/.env.development
**/.env.production
**/.env.test

# Logs
**/*.log

# Build folders
**/dist/
**/build/

# OS files
.DS_Store
Thumbs.db